openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Blocks API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Blocks
paths:
  /v1/blocks:
    get:
      summary: Get blocks by pagination
      tags:
      - Legacy / Blocks
      parameters:
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      responses:
        '200':
          description: Success response
      operationId: getV1Blocks
      x-operation-id-source: derived
  /v1/blocks/count:
    get:
      summary: Get estimated total blocks count
      tags:
      - Legacy / Blocks
      responses:
        '200':
          description: Success response
      operationId: getV1BlocksCount
      x-operation-id-source: derived
  /v1/blocks/latest:
    get:
      summary: Get the latest blocks
      tags:
      - Legacy / Blocks
      parameters:
      - in: query
        name: limit
        description: Number of latest blocks to retrieve
        schema:
          type: integer
          minimum: 1
          maximum: 10
          default: 10
      responses:
        '200':
          description: Success response
      operationId: getV1BlocksLatest
      x-operation-id-source: derived
  /v1/blocks/{hash}:
    get:
      summary: Get block info
      tags:
      - Legacy / Blocks
      parameters:
      - in: path
        name: hash
        required: true
        description: Block hash
        schema:
          type: string
        examples:
          hash:
            value: example-block-hash
      responses:
        '200':
          description: Success response
      operationId: getV1BlocksByHash
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
