{
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "scheme": "bearer",
        "type": "http"
      }
    }
  },
  "info": {
    "description": "NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.",
    "title": "NearBlocks Explorer API",
    "version": "1.0.0"
  },
  "openapi": "3.0.0",
  "servers": [
    {
      "description": "Mainnet",
      "url": "https://api.nearblocks.io"
    },
    {
      "description": "Testnet",
      "url": "https://api-testnet.nearblocks.io"
    }
  ],
  "tags": [
    {
      "description": "Deprecated.",
      "name": "Legacy / Account"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Access Keys"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Blocks"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Chain Abstraction"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Charts"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / DEX"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / FTs"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Kitwallet"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Supply"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / NFTs"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Search"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Stats"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Txns"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / Validators"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / V2 Account"
    },
    {
      "description": "Deprecated.",
      "name": "Legacy / V2 Txns"
    }
  ],
  "paths": {
    "/v1/account/{account}": {
      "get": {
        "summary": "Get account info",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/contract": {
      "get": {
        "summary": "Get contract info",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/contract/deployments": {
      "get": {
        "summary": "Get contract deployment records (first & last)",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/contract/parse": {
      "get": {
        "summary": "Get parsed contract info",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/contract/{method}": {
      "get": {
        "summary": "Get latest action args for contract method",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "path",
            "name": "method",
            "required": true,
            "description": "Method name",
            "schema": {
              "type": "string"
            },
            "examples": {
              "method": {
                "value": "example-method"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/inventory": {
      "get": {
        "summary": "Get account ft/nft token inventory",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/tokens": {
      "get": {
        "summary": "Get possible ft/nft token contracts",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/keys": {
      "get": {
        "summary": "Get access keys by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/keys/count": {
      "get": {
        "summary": "Get estimated access keys count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/txns": {
      "get": {
        "summary": "Get account txns by pagination (NOT RECOMMENDED)",
        "description": "**NOT RECOMMENDED**: This endpoint is no longer recommended for large accounts due to performance issue.\nFor large accounts, it is better to query txns and receipts separately:\n- account/{account_id}/txns-only\n- account/{account_id}/receipts\n",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "description": "Action kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "method",
            "description": "Function call method",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_block",
            "description": "Block height",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_block",
            "description": "Block height",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/txns/count": {
      "get": {
        "summary": "Get estimated account txns count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "description": "Action kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "method",
            "description": "Function call method",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_block",
            "description": "Block height",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_block",
            "description": "Block height",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/txns-only": {
      "get": {
        "summary": "Get account txns without receipts by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/txns-only/count": {
      "get": {
        "summary": "Get estimated account txns without receipts count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/receipts": {
      "get": {
        "summary": "Get account receipts by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "description": "Action kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "method",
            "description": "Function call method",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/receipts/count": {
      "get": {
        "summary": "Get estimated account receipts count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "description": "Action kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "method",
            "description": "Function call method",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/ft-txns": {
      "get": {
        "summary": "Get account token txns by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "involved",
            "description": "Involved account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contract",
            "description": "Contract account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/ft-txns/count": {
      "get": {
        "summary": "Get estimated account token txns count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "involved",
            "description": "Involved account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "contract",
            "description": "Contract account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/nft-txns": {
      "get": {
        "summary": "Get account nft txns by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "involved",
            "description": "Involved account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/nft-txns/count": {
      "get": {
        "summary": "Get estimated account nft txns count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "involved",
            "description": "Involved account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/stake-txns": {
      "get": {
        "summary": "Get account stake txns by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "default": 1,
              "minimum": 1,
              "maximum": 200
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "default": 25,
              "minimum": 1,
              "maximum": 250
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "asc",
                "desc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/stake-txns/count": {
      "get": {
        "summary": "Get estimated account stake txns count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/activities": {
      "get": {
        "summary": "Get account balance change activities by pagination",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/account/{account}/activities/count": {
      "get": {
        "summary": "Get estimated account balance change activities count",
        "tags": [
          "Legacy / Account"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/blocks": {
      "get": {
        "summary": "Get blocks by pagination",
        "tags": [
          "Legacy / Blocks"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/blocks/count": {
      "get": {
        "summary": "Get estimated total blocks count",
        "tags": [
          "Legacy / Blocks"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/blocks/latest": {
      "get": {
        "summary": "Get the latest blocks",
        "tags": [
          "Legacy / Blocks"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "limit",
            "description": "Number of latest blocks to retrieve",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 10,
              "default": 10
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/blocks/{hash}": {
      "get": {
        "summary": "Get block info",
        "tags": [
          "Legacy / Blocks"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "hash",
            "required": true,
            "description": "Block hash",
            "schema": {
              "type": "string"
            },
            "examples": {
              "hash": {
                "value": "example-block-hash"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/chain-abstraction/{account}/multi-chain-accounts": {
      "get": {
        "summary": "Get multi chain accounts of an account",
        "tags": [
          "Legacy / Chain Abstraction"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/chain-abstraction/{account}/txns": {
      "get": {
        "summary": "Get multi chain txns of the account by pagination",
        "tags": [
          "Legacy / Chain Abstraction"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_block",
            "description": "Block height after which to get transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_block",
            "description": "Block height before which to get transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format to get transactions after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format to get transactions before this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain",
            "description": "Foreign chain",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "multichain_address",
            "description": "Multi-chain address",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/chain-abstraction/{account}/txns/count": {
      "get": {
        "summary": "Get estimated multi chain txns count of the account",
        "tags": [
          "Legacy / Chain Abstraction"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_block",
            "description": "Block height after which to get transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_block",
            "description": "Block height before which to get transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format to get transactions after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format to get transactions before this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain",
            "description": "Foreign chain",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "multichain_address",
            "description": "Multi-chain address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/chain-abstraction/txns": {
      "get": {
        "summary": "Get multi chain txns by pagination",
        "tags": [
          "Legacy / Chain Abstraction"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_block",
            "description": "Block height after which to get transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_block",
            "description": "Block height before which to get transactions",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format to get transactions after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format to get transactions before this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain",
            "description": "Foreign chain",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "multichain_address",
            "description": "Multi-chain address",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/chain-abstraction/txns/count": {
      "get": {
        "summary": "Get estimated multi chain txns count",
        "tags": [
          "Legacy / Chain Abstraction"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_block",
            "description": "Block height after which to get transaction count",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_block",
            "description": "Block height before which to get transaction count",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format to get transaction count after this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format to get transaction count before this date",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "chain",
            "description": "Foreign chain",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "multichain_address",
            "description": "Multi-chain address",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/charts": {
      "get": {
        "summary": "Get charts data",
        "tags": [
          "Legacy / Charts"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/charts/latest": {
      "get": {
        "summary": "Get latest charts data",
        "tags": [
          "Legacy / Charts"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/charts/tps": {
      "get": {
        "summary": "Get txns per second by shards chart data",
        "tags": [
          "Legacy / Charts"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/dex": {
      "get": {
        "summary": "Get top dex pairs by pagination",
        "tags": [
          "Legacy / DEX"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "volume",
                "txns",
                "makers"
              ],
              "default": "volume"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/dex/count": {
      "get": {
        "summary": "Get top dex pairs count",
        "tags": [
          "Legacy / DEX"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/dex/pairs/{pair}": {
      "get": {
        "summary": "Get dex pair info",
        "tags": [
          "Legacy / DEX"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pair",
            "required": true,
            "description": "Pair ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "pair": {
                "value": "example-pair-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/dex/pairs/{pair}/txns": {
      "get": {
        "summary": "Get dex pair txns by pagination",
        "tags": [
          "Legacy / DEX"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pair",
            "required": true,
            "description": "Pair ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "pair": {
                "value": "example-pair-id"
              }
            }
          },
          {
            "in": "query",
            "name": "a",
            "description": "Maker account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/dex/pairs/{pair}/txns/count": {
      "get": {
        "summary": "Get dex pair txns count",
        "tags": [
          "Legacy / DEX"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pair",
            "required": true,
            "description": "Pair ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "pair": {
                "value": "example-pair-id"
              }
            }
          },
          {
            "in": "query",
            "name": "a",
            "description": "Maker account ID",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/dex/pairs/{pair}/charts": {
      "get": {
        "summary": "Get dex pair chart data",
        "tags": [
          "Legacy / DEX"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "pair",
            "required": true,
            "description": "Pair ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "pair": {
                "value": "example-pair-id"
              }
            }
          },
          {
            "in": "query",
            "name": "interval",
            "required": true,
            "description": "Time interval",
            "schema": {
              "type": "string",
              "enum": [
                "1m",
                "1h",
                "1d"
              ],
              "default": "1m"
            }
          },
          {
            "in": "query",
            "name": "to",
            "required": true,
            "description": "End timestamp",
            "schema": {
              "type": "number"
            }
          },
          {
            "in": "query",
            "name": "limit",
            "required": true,
            "description": "Number of rows",
            "schema": {
              "type": "number"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts": {
      "get": {
        "summary": "Get top tokens by pagination",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "price",
                "change",
                "volume",
                "market_cap",
                "onchain_market_cap"
              ],
              "default": "onchain_market_cap"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/count": {
      "get": {
        "summary": "Get top tokens count",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/txns": {
      "get": {
        "summary": "Get token txns by pagination",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor. Takes precedence over 'page' if provided.",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/txns/count": {
      "get": {
        "summary": "Get estimated token txns count",
        "tags": [
          "Legacy / FTs"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/{contract}": {
      "get": {
        "summary": "Get token info",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/{contract}/txns": {
      "get": {
        "summary": "Get token txns by pagination",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "account",
            "description": "Affected account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event type",
            "schema": {
              "type": "string",
              "enum": [
                "MINT",
                "BURN",
                "TRANSFER"
              ]
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor. Takes precedence over 'page' if provided.",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/{contract}/txns/count": {
      "get": {
        "summary": "Get estimated token txns count",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "account",
            "description": "Affected account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event type",
            "schema": {
              "type": "string",
              "enum": [
                "MINT",
                "BURN",
                "TRANSFER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/{contract}/holders": {
      "get": {
        "summary": "Get token holders by pagination",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/fts/{contract}/holders/count": {
      "get": {
        "summary": "Get estimated token holders count",
        "tags": [
          "Legacy / FTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/keys/{key}": {
      "get": {
        "summary": "Get access key info by public key",
        "tags": [
          "Legacy / Access Keys"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "description": "Public key",
            "schema": {
              "type": "string"
            },
            "examples": {
              "key": {
                "value": "example-public-key"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/stakingPools": {
      "get": {
        "summary": "Get all staking pools",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/staking-deposits/{account}": {
      "get": {
        "summary": "Get staking deposits for an account",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/publicKey/{key}/accounts": {
      "get": {
        "summary": "Get accounts by public key",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "key",
            "required": true,
            "description": "Public key",
            "schema": {
              "type": "string"
            },
            "examples": {
              "key": {
                "value": "example-public-key"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/activities": {
      "get": {
        "summary": "Get activities for an account",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/callReceivers": {
      "get": {
        "summary": "Get call receivers for an account",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/likelyTokens": {
      "get": {
        "summary": "Get likely tokens for an account",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/likelyTokensFromBlock": {
      "get": {
        "summary": "Get likely tokens for an account from block",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "fromBlockTimestamp",
            "description": "Block timestamp",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/likelyNFTs": {
      "get": {
        "summary": "Get likely NFTs for an account",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/likelyNFTsFromBlock": {
      "get": {
        "summary": "Get likely NFTs for an account from block",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "fromBlockTimestamp",
            "description": "Block timestamp",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/receipts": {
      "get": {
        "summary": "Get account receipts",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "description": "Action kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "method",
            "description": "Function call method",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page. Each increment of 25 will count towards rate limit.",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/kitwallet/account/{account}/receipts/count": {
      "get": {
        "summary": "Get estimated account receipts count",
        "tags": [
          "Legacy / Kitwallet"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "account",
            "required": true,
            "description": "Account ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "account": {
                "value": "example-account-id"
              }
            }
          },
          {
            "in": "query",
            "name": "from",
            "description": "Sender account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "to",
            "description": "Receiver account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "action",
            "description": "Action kind",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "method",
            "description": "Function call method",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "after_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "before_date",
            "description": "Date in YYYY-MM-DD format",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/legacy/total-supply": {
      "get": {
        "summary": "Get total near supply",
        "tags": [
          "Legacy / Supply"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "unit",
            "description": "Unit of Near supply. Choosing NEAR will result in a text-only response",
            "schema": {
              "type": "string",
              "enum": [
                "yoctonear",
                "near"
              ],
              "default": "yoctonear"
            }
          },
          {
            "in": "query",
            "name": "format",
            "description": "If 'coingecko', return value",
            "schema": {
              "type": "string",
              "enum": [
                "coingecko"
              ],
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/legacy/circulating-supply": {
      "get": {
        "summary": "Get circulating near supply",
        "tags": [
          "Legacy / Supply"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "unit",
            "description": "Unit of Near supply. Choosing NEAR will result in a text-only response",
            "schema": {
              "type": "string",
              "enum": [
                "yoctonear",
                "near"
              ],
              "default": "yoctonear"
            }
          },
          {
            "in": "query",
            "name": "format",
            "description": "If 'coingecko', returns value",
            "schema": {
              "type": "string",
              "enum": [
                "coingecko"
              ],
              "default": null
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/legacy/fees": {
      "get": {
        "summary": "Get tokens burnt per day",
        "tags": [
          "Legacy / Supply"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "period",
            "description": "Data period",
            "schema": {
              "type": "string",
              "enum": [
                "day",
                "week"
              ],
              "default": "day"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts": {
      "get": {
        "summary": "Get top NFTs by pagination",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 100,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 50,
              "default": 50
            }
          },
          {
            "in": "query",
            "name": "sort",
            "description": "Sort field",
            "schema": {
              "type": "string",
              "enum": [
                "holders",
                "tokens",
                "txns_day"
              ],
              "default": "txns_day"
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/count": {
      "get": {
        "summary": "Get top NFTs count",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "search",
            "description": "Search keyword",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/txns": {
      "get": {
        "summary": "Get NFT transactions by pagination",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/txns/count": {
      "get": {
        "summary": "Get estimated NFT transactions count",
        "tags": [
          "Legacy / NFTs"
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}": {
      "get": {
        "summary": "Get NFT info",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/txns": {
      "get": {
        "summary": "Get NFT transactions by pagination",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "account",
            "description": "Affected account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event type",
            "schema": {
              "type": "string",
              "enum": [
                "MINT",
                "BURN",
                "TRANSFER"
              ]
            }
          },
          {
            "in": "query",
            "name": "cursor",
            "description": "Next page cursor, takes precedence over 'page' if provided",
            "schema": {
              "type": "string",
              "minLength": 36,
              "maxLength": 36
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/txns/count": {
      "get": {
        "summary": "Get estimated NFT transaction count",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "account",
            "description": "Affected account ID",
            "schema": {
              "type": "string"
            }
          },
          {
            "in": "query",
            "name": "event",
            "description": "Event type",
            "schema": {
              "type": "string",
              "enum": [
                "MINT",
                "BURN",
                "TRANSFER"
              ]
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/holders": {
      "get": {
        "summary": "Get NFT holders by pagination",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          },
          {
            "in": "query",
            "name": "order",
            "description": "Sort order",
            "schema": {
              "type": "string",
              "enum": [
                "desc",
                "asc"
              ],
              "default": "desc"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/holders/count": {
      "get": {
        "summary": "Get estimated NFT holders count",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/tokens": {
      "get": {
        "summary": "Get NFT tokens list by pagination",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "query",
            "name": "page",
            "description": "Page number",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 200,
              "default": 1
            }
          },
          {
            "in": "query",
            "name": "per_page",
            "description": "Number of items per page",
            "schema": {
              "type": "number",
              "minimum": 1,
              "maximum": 250,
              "default": 25
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/tokens/count": {
      "get": {
        "summary": "Get estimated NFT tokens count",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/tokens/{token}": {
      "get": {
        "summary": "Get NFT token info",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "path",
            "name": "token",
            "required": true,
            "description": "Token ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "token": {
                "value": "example-token-id"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Success response"
          }
        }
      }
    },
    "/v1/nfts/{contract}/tokens/{token}/txns": {
      "get": {
        "summary": "Get NFT token transactions by pagination",
        "tags": [
          "Legacy / NFTs"
        ],
        "parameters": [
          {
            "in": "path",
            "name": "contract",
            "required": true,
            "description": "Contract ID",
            "schema": {
              "type": "string"
            },
            "examples": {
              "contract": {
                "value": "example-contract-id"
              }
            }
          },
          {
            "in": "path",
            "name": "token",
            "required": true,
[...]
