openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / DEX API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / DEX
paths:
  /v1/dex:
    get:
      summary: Get top dex pairs by pagination
      tags:
      - Legacy / DEX
      parameters:
      - in: query
        name: search
        description: Search keyword
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 100
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        schema:
          type: number
          minimum: 1
          maximum: 50
          default: 50
      - in: query
        name: sort
        description: Sort field
        schema:
          type: string
          enum:
          - volume
          - txns
          - makers
          default: volume
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1Dex
      x-operation-id-source: derived
  /v1/dex/count:
    get:
      summary: Get top dex pairs count
      tags:
      - Legacy / DEX
      parameters:
      - in: query
        name: search
        description: Search keyword
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1DexCount
      x-operation-id-source: derived
  /v1/dex/pairs/{pair}:
    get:
      summary: Get dex pair info
      tags:
      - Legacy / DEX
      parameters:
      - in: path
        name: pair
        required: true
        description: Pair ID
        schema:
          type: string
        examples:
          pair:
            value: example-pair-id
      responses:
        '200':
          description: Success response
      operationId: getV1DexPairsByPair
      x-operation-id-source: derived
  /v1/dex/pairs/{pair}/txns:
    get:
      summary: Get dex pair txns by pagination
      tags:
      - Legacy / DEX
      parameters:
      - in: path
        name: pair
        required: true
        description: Pair ID
        schema:
          type: string
        examples:
          pair:
            value: example-pair-id
      - in: query
        name: a
        description: Maker account ID
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor
        schema:
          type: string
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      responses:
        '200':
          description: Success response
      operationId: getV1DexPairsByPairTxns
      x-operation-id-source: derived
  /v1/dex/pairs/{pair}/txns/count:
    get:
      summary: Get dex pair txns count
      tags:
      - Legacy / DEX
      parameters:
      - in: path
        name: pair
        required: true
        description: Pair ID
        schema:
          type: string
        examples:
          pair:
            value: example-pair-id
      - in: query
        name: a
        description: Maker account ID
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1DexPairsByPairTxnsCount
      x-operation-id-source: derived
  /v1/dex/pairs/{pair}/charts:
    get:
      summary: Get dex pair chart data
      tags:
      - Legacy / DEX
      parameters:
      - in: path
        name: pair
        required: true
        description: Pair ID
        schema:
          type: string
        examples:
          pair:
            value: example-pair-id
      - in: query
        name: interval
        required: true
        description: Time interval
        schema:
          type: string
          enum:
          - 1m
          - 1h
          - 1d
          default: 1m
      - in: query
        name: to
        required: true
        description: End timestamp
        schema:
          type: number
      - in: query
        name: limit
        required: true
        description: Number of rows
        schema:
          type: number
      responses:
        '200':
          description: Success response
      operationId: getV1DexPairsByPairCharts
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
