openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / V2 Account API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / V2 Account
paths:
  /v2/account/{account}/receipts:
    get:
      summary: Get account receipts by pagination
      tags:
      - Legacy / V2 Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_timestamp
        description: Nanosecond timestamp
        schema:
          type: string
      - in: query
        name: before_timestamp
        description: Nanosecond timestamp
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 100
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV2AccountByAccountReceipts
      x-operation-id-source: derived
  /v2/account/{account}/receipts/count:
    get:
      summary: Get estimated account receipts count
      tags:
      - Legacy / V2 Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_timestamp
        description: Nanosecond timestamp
        schema:
          type: string
      - in: query
        name: before_timestamp
        description: Nanosecond timestamp
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV2AccountByAccountReceiptsCount
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
