openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Kitwallet API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Kitwallet
paths:
  /v1/kitwallet/stakingPools:
    get:
      summary: Get all staking pools
      tags:
      - Legacy / Kitwallet
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletStakingPools
      x-operation-id-source: derived
  /v1/kitwallet/staking-deposits/{account}:
    get:
      summary: Get staking deposits for an account
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletStakingDepositsByAccount
      x-operation-id-source: derived
  /v1/kitwallet/publicKey/{key}/accounts:
    get:
      summary: Get accounts by public key
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: key
        required: true
        description: Public key
        schema:
          type: string
        examples:
          key:
            value: example-public-key
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletPublicKeyByKeyAccounts
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/activities:
    get:
      summary: Get activities for an account
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountActivities
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/callReceivers:
    get:
      summary: Get call receivers for an account
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountCallReceivers
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/likelyTokens:
    get:
      summary: Get likely tokens for an account
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountLikelyTokens
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/likelyTokensFromBlock:
    get:
      summary: Get likely tokens for an account from block
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: fromBlockTimestamp
        description: Block timestamp
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountLikelyTokensFromBlock
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/likelyNFTs:
    get:
      summary: Get likely NFTs for an account
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountLikelyNFTs
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/likelyNFTsFromBlock:
    get:
      summary: Get likely NFTs for an account from block
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: fromBlockTimestamp
        description: Block timestamp
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountLikelyNFTsFromBlock
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/receipts:
    get:
      summary: Get account receipts
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountReceipts
      x-operation-id-source: derived
  /v1/kitwallet/account/{account}/receipts/count:
    get:
      summary: Get estimated account receipts count
      tags:
      - Legacy / Kitwallet
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1KitwalletAccountByAccountReceiptsCount
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
