openapi: 3.0.3
info:
  description: Low-latency indexed account, token, and public-key lookup APIs for wallets and explorers. Embedded portal clients may forward an optional `apiKey` query parameter, but the public FastNEAR API does not require it.
  title: FastNEAR accounts Legacy / FTs API
  version: 3.0.3
servers:
- description: Mainnet
  url: https://api.fastnear.com
- description: Testnet
  url: https://test.api.fastnear.com
tags:
- description: Deprecated.
  name: Legacy / FTs
paths:
  /v1/fts:
    get:
      summary: Get top tokens by pagination
      tags:
      - Legacy / FTs
      parameters:
      - in: query
        name: search
        description: Search keyword
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 100
          default: 1
      - in: query
        name: per_page
        description: Number of items per page
        schema:
          type: number
          minimum: 1
          maximum: 50
          default: 50
      - in: query
        name: sort
        description: Sort field
        schema:
          type: string
          enum:
          - price
          - change
          - volume
          - market_cap
          - onchain_market_cap
          default: onchain_market_cap
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
  /v1/fts/count:
    get:
      summary: Get top tokens count
      tags:
      - Legacy / FTs
      parameters:
      - in: query
        name: search
        description: Search keyword
        schema:
          type: string
      responses:
        '200':
          description: Success response
  /v1/fts/txns:
    get:
      summary: Get token txns by pagination
      tags:
      - Legacy / FTs
      parameters:
      - in: query
        name: cursor
        description: Next page cursor. Takes precedence over 'page' if provided.
        schema:
          type: string
          minLength: 36
          maxLength: 36
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      responses:
        '200':
          description: Success response
  /v1/fts/txns/count:
    get:
      summary: Get estimated token txns count
      tags:
      - Legacy / FTs
      responses:
        '200':
          description: Success response
  /v1/fts/{contract}:
    get:
      summary: Get token info
      tags:
      - Legacy / FTs
      parameters:
      - in: path
        name: contract
        required: true
        description: Contract ID
        schema:
          type: string
        examples:
          contract:
            value: example-contract-id
      responses:
        '200':
          description: Success response
  /v1/fts/{contract}/txns:
    get:
      summary: Get token txns by pagination
      tags:
      - Legacy / FTs
      parameters:
      - in: path
        name: contract
        required: true
        description: Contract ID
        schema:
          type: string
        examples:
          contract:
            value: example-contract-id
      - in: query
        name: account
        description: Affected account ID
        schema:
          type: string
      - in: query
        name: event
        description: Event type
        schema:
          type: string
          enum:
          - MINT
          - BURN
          - TRANSFER
      - in: query
        name: cursor
        description: Next page cursor. Takes precedence over 'page' if provided.
        schema:
          type: string
          minLength: 36
          maxLength: 36
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
  /v1/fts/{contract}/txns/count:
    get:
      summary: Get estimated token txns count
      tags:
      - Legacy / FTs
      parameters:
      - in: path
        name: contract
        required: true
        description: Contract ID
        schema:
          type: string
        examples:
          contract:
            value: example-contract-id
      - in: query
        name: account
        description: Affected account ID
        schema:
          type: string
      - in: query
        name: event
        description: Event type
        schema:
          type: string
          enum:
          - MINT
          - BURN
          - TRANSFER
      responses:
        '200':
          description: Success response
  /v1/fts/{contract}/holders:
    get:
      summary: Get token holders by pagination
      tags:
      - Legacy / FTs
      parameters:
      - in: path
        name: contract
        required: true
        description: Contract ID
        schema:
          type: string
        examples:
          contract:
            value: example-contract-id
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
  /v1/fts/{contract}/holders/count:
    get:
      summary: Get estimated token holders count
      tags:
      - Legacy / FTs
      parameters:
      - in: path
        name: contract
        required: true
        description: Contract ID
        schema:
          type: string
        examples:
          contract:
            value: example-contract-id
      responses:
        '200':
          description: Success response
