openapi: 3.0.3
info:
  description: Low-latency indexed account, token, and public-key lookup APIs for wallets and explorers. Embedded portal clients may forward an optional `apiKey` query parameter, but the public FastNEAR API does not require it.
  title: FastNEAR accounts EXPERIMENTAL View Access Key List API
  version: 3.0.3
servers:
- description: Mainnet
  url: https://api.fastnear.com
- description: Testnet
  url: https://test.api.fastnear.com
tags:
- name: EXPERIMENTAL View Access Key List
paths:
  /EXPERIMENTAL_view_access_key_list:
    post:
      description: Returns all access keys for a given account.
      operationId: EXPERIMENTAL_view_access_key_list
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest_for_EXPERIMENTAL_view_access_key_list'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse_for_RpcViewAccessKeyListResponse_and_RpcViewAccessKeyListError'
      tags:
      - EXPERIMENTAL View Access Key List
components:
  schemas:
    NearToken:
      type: string
    RpcViewAccessKeyListError:
      oneOf:
      - properties:
          info:
            properties:
              block_reference:
                $ref: '#/components/schemas/BlockReference'
            required:
            - block_reference
            type: object
          name:
            enum:
            - UNKNOWN_BLOCK
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              block_hash:
                $ref: '#/components/schemas/CryptoHash'
              block_height:
                format: uint64
                minimum: 0
                type: integer
              requested_account_id:
                $ref: '#/components/schemas/AccountId'
            required:
            - requested_account_id
            - block_height
            - block_hash
            type: object
          name:
            enum:
            - INVALID_ACCOUNT
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              block_hash:
                $ref: '#/components/schemas/CryptoHash'
              block_height:
                format: uint64
                minimum: 0
                type: integer
              requested_account_id:
                $ref: '#/components/schemas/AccountId'
            required:
            - requested_account_id
            - block_height
            - block_hash
            type: object
          name:
            enum:
            - UNKNOWN_ACCOUNT
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              error_message:
                type: string
            required:
            - error_message
            type: object
          name:
            enum:
            - INTERNAL_ERROR
            type: string
        required:
        - name
        - info
        type: object
    Finality:
      description: Different types of finality.
      enum:
      - optimistic
      - near-final
      - final
      type: string
    AccountId:
      $schema: https://json-schema.org/draft/2020-12/schema
      description: 'NEAR Account Identifier.


        This is a unique, syntactically valid, human-readable account identifier on the NEAR network.


        [See the crate-level docs for information about validation.](index.html#account-id-rules)


        Also see [Error kind precedence](AccountId#error-kind-precedence).


        ## Examples


        ```

        use near_account_id::AccountId;


        let alice: AccountId = "alice.near".parse().unwrap();


        assert!("ƒelicia.near".parse::<AccountId>().is_err()); // (ƒ is not f)

        ```'
      title: AccountId
      type: string
    ErrorWrapper_for_RpcViewAccessKeyListError:
      oneOf:
      - properties:
          cause:
            $ref: '#/components/schemas/RpcRequestValidationErrorKind'
          name:
            enum:
            - REQUEST_VALIDATION_ERROR
            type: string
        required:
        - name
        - cause
        type: object
      - properties:
          cause:
            $ref: '#/components/schemas/RpcViewAccessKeyListError'
          name:
            enum:
            - HANDLER_ERROR
            type: string
        required:
        - name
        - cause
        type: object
      - properties:
          cause:
            $ref: '#/components/schemas/InternalError'
          name:
            enum:
            - INTERNAL_ERROR
            type: string
        required:
        - name
        - cause
        type: object
    AccessKeyView:
      description: Describes access key permission scope and nonce.
      properties:
        nonce:
          format: uint64
          minimum: 0
          type: integer
        permission:
          $ref: '#/components/schemas/AccessKeyPermissionView'
      required:
      - nonce
      - permission
      type: object
    InternalError:
      oneOf:
      - properties:
          info:
            properties:
              error_message:
                type: string
            required:
            - error_message
            type: object
          name:
            enum:
            - INTERNAL_ERROR
            type: string
        required:
        - name
        - info
        type: object
    SyncCheckpoint:
      enum:
      - genesis
      - earliest_available
      type: string
    BlockReference:
      oneOf:
      - additionalProperties: false
        properties:
          block_id:
            $ref: '#/components/schemas/BlockId'
        required:
        - block_id
        type: object
      - additionalProperties: false
        properties:
          finality:
            $ref: '#/components/schemas/Finality'
        required:
        - finality
        type: object
      - additionalProperties: false
        properties:
          sync_checkpoint:
            $ref: '#/components/schemas/SyncCheckpoint'
        required:
        - sync_checkpoint
        type: object
    PublicKeyHandle:
      type: string
    JsonRpcResponse_for_RpcViewAccessKeyListResponse_and_RpcViewAccessKeyListError:
      oneOf:
      - properties:
          result:
            $ref: '#/components/schemas/RpcViewAccessKeyListResponse'
        required:
        - result
        type: object
      - properties:
          error:
            $ref: '#/components/schemas/ErrorWrapper_for_RpcViewAccessKeyListError'
        required:
        - error
        type: object
      properties:
        id:
          type: string
        jsonrpc:
          type: string
      required:
      - jsonrpc
      - id
      title: JsonRpcResponse_for_RpcViewAccessKeyListResponse_and_RpcViewAccessKeyListError
      type: object
    AccessKeyInfoView:
      description: 'Describes information about an access key including its on-trie

        identifier. For ed25519/secp256k1 access keys the `public_key` field

        is the full public key (string form unchanged from before); for

        ML-DSA-65 access keys it is a `ml-dsa-65-hash:...` SHA3-256 digest

        (the full pubkey is not stored on-chain).'
      properties:
        access_key:
          $ref: '#/components/schemas/AccessKeyView'
        public_key:
          $ref: '#/components/schemas/PublicKeyHandle'
      required:
      - public_key
      - access_key
      type: object
    JsonRpcRequest_for_EXPERIMENTAL_view_access_key_list:
      properties:
        id:
          type: string
        jsonrpc:
          type: string
        method:
          enum:
          - EXPERIMENTAL_view_access_key_list
          type: string
        params:
          $ref: '#/components/schemas/RpcViewAccessKeyListRequest'
      required:
      - jsonrpc
      - id
      - params
      - method
      title: JsonRpcRequest_for_EXPERIMENTAL_view_access_key_list
      type: object
    CryptoHash:
      type: string
    BlockId:
      anyOf:
      - format: uint64
        minimum: 0
        title: block_height
        type: integer
      - $ref: '#/components/schemas/CryptoHash'
    AccessKeyPermissionView:
      description: Describes the permission scope for an access key. Whether it is a function call or a full access key.
      oneOf:
      - enum:
        - FullAccess
        type: string
      - additionalProperties: false
        properties:
          FunctionCall:
            properties:
              allowance:
                anyOf:
                - $ref: '#/components/schemas/NearToken'
                - enum:
                  - null
                  nullable: true
              method_names:
                items:
                  type: string
                type: array
              receiver_id:
                type: string
            required:
            - receiver_id
            - method_names
            type: object
        required:
        - FunctionCall
        type: object
      - additionalProperties: false
        properties:
          GasKeyFunctionCall:
            properties:
              allowance:
                anyOf:
                - $ref: '#/components/schemas/NearToken'
                - enum:
                  - null
                  nullable: true
              balance:
                $ref: '#/components/schemas/NearToken'
              method_names:
                items:
                  type: string
                type: array
              num_nonces:
                format: uint16
                maximum: 65535
                minimum: 0
                type: integer
              receiver_id:
                type: string
            required:
            - balance
            - num_nonces
            - receiver_id
            - method_names
            type: object
        required:
        - GasKeyFunctionCall
        type: object
      - additionalProperties: false
        properties:
          GasKeyFullAccess:
            properties:
              balance:
                $ref: '#/components/schemas/NearToken'
              num_nonces:
                format: uint16
                maximum: 65535
                minimum: 0
                type: integer
            required:
            - balance
            - num_nonces
            type: object
        required:
        - GasKeyFullAccess
        type: object
    RpcRequestValidationErrorKind:
      oneOf:
      - properties:
          info:
            properties:
              method_name:
                type: string
            required:
            - method_name
            type: object
          name:
            enum:
            - METHOD_NOT_FOUND
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              error_message:
                type: string
            required:
            - error_message
            type: object
          name:
            enum:
            - PARSE_ERROR
            type: string
        required:
        - name
        - info
        type: object
    RpcViewAccessKeyListRequest:
      oneOf:
      - properties:
          block_id:
            $ref: '#/components/schemas/BlockId'
        required:
        - block_id
        type: object
      - properties:
          finality:
            $ref: '#/components/schemas/Finality'
        required:
        - finality
        type: object
      - properties:
          sync_checkpoint:
            $ref: '#/components/schemas/SyncCheckpoint'
        required:
        - sync_checkpoint
        type: object
      properties:
        account_id:
          $ref: '#/components/schemas/AccountId'
      required:
      - account_id
      title: RpcViewAccessKeyListRequest
      type: object
    RpcViewAccessKeyListResponse:
      description: Lists access keys
      properties:
        block_hash:
          $ref: '#/components/schemas/CryptoHash'
        block_height:
          format: uint64
          minimum: 0
          type: integer
        keys:
          items:
            $ref: '#/components/schemas/AccessKeyInfoView'
          type: array
      required:
      - keys
      - block_height
      - block_hash
      type: object
