openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Chain Abstraction API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Chain Abstraction
paths:
  /v1/chain-abstraction/{account}/multi-chain-accounts:
    get:
      summary: Get multi chain accounts of an account
      tags:
      - Legacy / Chain Abstraction
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1ChainAbstractionByAccountMultiChainAccounts
      x-operation-id-source: derived
  /v1/chain-abstraction/{account}/txns:
    get:
      summary: Get multi chain txns of the account by pagination
      tags:
      - Legacy / Chain Abstraction
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: after_block
        description: Block height after which to get transactions
        schema:
          type: string
      - in: query
        name: before_block
        description: Block height before which to get transactions
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format to get transactions after this date
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format to get transactions before this date
        schema:
          type: string
      - in: query
        name: chain
        description: Foreign chain
        schema:
          type: string
      - in: query
        name: multichain_address
        description: Multi-chain address
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1ChainAbstractionByAccountTxns
      x-operation-id-source: derived
  /v1/chain-abstraction/{account}/txns/count:
    get:
      summary: Get estimated multi chain txns count of the account
      tags:
      - Legacy / Chain Abstraction
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: after_block
        description: Block height after which to get transactions
        schema:
          type: string
      - in: query
        name: before_block
        description: Block height before which to get transactions
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format to get transactions after this date
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format to get transactions before this date
        schema:
          type: string
      - in: query
        name: chain
        description: Foreign chain
        schema:
          type: string
      - in: query
        name: multichain_address
        description: Multi-chain address
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1ChainAbstractionByAccountTxnsCount
      x-operation-id-source: derived
  /v1/chain-abstraction/txns:
    get:
      summary: Get multi chain txns by pagination
      tags:
      - Legacy / Chain Abstraction
      parameters:
      - in: query
        name: account
        required: true
        description: Account ID
        schema:
          type: string
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: after_block
        description: Block height after which to get transactions
        schema:
          type: string
      - in: query
        name: before_block
        description: Block height before which to get transactions
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format to get transactions after this date
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format to get transactions before this date
        schema:
          type: string
      - in: query
        name: chain
        description: Foreign chain
        schema:
          type: string
      - in: query
        name: multichain_address
        description: Multi-chain address
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1ChainAbstractionTxns
      x-operation-id-source: derived
  /v1/chain-abstraction/txns/count:
    get:
      summary: Get estimated multi chain txns count
      tags:
      - Legacy / Chain Abstraction
      parameters:
      - in: query
        name: account
        required: true
        description: Account ID
        schema:
          type: string
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: after_block
        description: Block height after which to get transaction count
        schema:
          type: string
      - in: query
        name: before_block
        description: Block height before which to get transaction count
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format to get transaction count after this date
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format to get transaction count before this date
        schema:
          type: string
      - in: query
        name: chain
        description: Foreign chain
        schema:
          type: string
      - in: query
        name: multichain_address
        description: Multi-chain address
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1ChainAbstractionTxnsCount
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
