openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Supply API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Supply
paths:
  /v1/legacy/total-supply:
    get:
      summary: Get total near supply
      tags:
      - Legacy / Supply
      parameters:
      - in: query
        name: unit
        description: Unit of Near supply. Choosing NEAR will result in a text-only response
        schema:
          type: string
          enum:
          - yoctonear
          - near
          default: yoctonear
      - in: query
        name: format
        description: If 'coingecko', return value
        schema:
          type: string
          enum:
          - coingecko
          default: null
      responses:
        '200':
          description: Success response
      operationId: getV1LegacyTotalSupply
      x-operation-id-source: derived
  /v1/legacy/circulating-supply:
    get:
      summary: Get circulating near supply
      tags:
      - Legacy / Supply
      parameters:
      - in: query
        name: unit
        description: Unit of Near supply. Choosing NEAR will result in a text-only response
        schema:
          type: string
          enum:
          - yoctonear
          - near
          default: yoctonear
      - in: query
        name: format
        description: If 'coingecko', returns value
        schema:
          type: string
          enum:
          - coingecko
          default: null
      responses:
        '200':
          description: Success response
      operationId: getV1LegacyCirculatingSupply
      x-operation-id-source: derived
  /v1/legacy/fees:
    get:
      summary: Get tokens burnt per day
      tags:
      - Legacy / Supply
      parameters:
      - in: query
        name: period
        description: Data period
        schema:
          type: string
          enum:
          - day
          - week
          default: day
      responses:
        '200':
          description: Success response
      operationId: getV1LegacyFees
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
