openapi: 3.0.3
info:
  description: Low-latency indexed account, token, and public-key lookup APIs for wallets and explorers. Embedded portal clients may forward an optional `apiKey` query parameter, but the public FastNEAR API does not require it.
  title: FastNEAR accounts Health API
  version: 3.0.3
servers:
- description: Mainnet
  url: https://api.fastnear.com
- description: Testnet
  url: https://test.api.fastnear.com
tags:
- name: Health
paths:
  /health:
    post:
      description: Returns the current health status of the RPC node the client connects to.
      operationId: health
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonRpcRequest_for_health'
        required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonRpcResponse_for_Nullable_RpcHealthResponse_and_RpcStatusError'
      tags:
      - Health
components:
  schemas:
    CryptoHash:
      type: string
    JsonRpcRequest_for_health:
      properties:
        id:
          type: string
        jsonrpc:
          type: string
        method:
          enum:
          - health
          type: string
        params:
          $ref: '#/components/schemas/RpcHealthRequest'
      required:
      - jsonrpc
      - id
      - params
      - method
      title: JsonRpcRequest_for_health
      type: object
    ErrorWrapper_for_RpcStatusError:
      oneOf:
      - properties:
          cause:
            $ref: '#/components/schemas/RpcRequestValidationErrorKind'
          name:
            enum:
            - REQUEST_VALIDATION_ERROR
            type: string
        required:
        - name
        - cause
        type: object
      - properties:
          cause:
            $ref: '#/components/schemas/RpcStatusError'
          name:
            enum:
            - HANDLER_ERROR
            type: string
        required:
        - name
        - cause
        type: object
      - properties:
          cause:
            $ref: '#/components/schemas/InternalError'
          name:
            enum:
            - INTERNAL_ERROR
            type: string
        required:
        - name
        - cause
        type: object
    EpochId:
      allOf:
      - $ref: '#/components/schemas/CryptoHash'
      description: 'Epoch identifier -- wrapped hash, to make it easier to distinguish.

        EpochId of epoch T is the hash of last block in T-2

        EpochId of first two epochs is 0'
    RpcHealthResponse:
      enum:
      - null
      nullable: true
    InternalError:
      oneOf:
      - properties:
          info:
            properties:
              error_message:
                type: string
            required:
            - error_message
            type: object
          name:
            enum:
            - INTERNAL_ERROR
            type: string
        required:
        - name
        - info
        type: object
    RpcHealthRequest:
      enum:
      - null
      nullable: true
      title: RpcHealthRequest
    RpcRequestValidationErrorKind:
      oneOf:
      - properties:
          info:
            properties:
              method_name:
                type: string
            required:
            - method_name
            type: object
          name:
            enum:
            - METHOD_NOT_FOUND
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              error_message:
                type: string
            required:
            - error_message
            type: object
          name:
            enum:
            - PARSE_ERROR
            type: string
        required:
        - name
        - info
        type: object
    RpcStatusError:
      oneOf:
      - properties:
          name:
            enum:
            - NODE_IS_SYNCING
            type: string
        required:
        - name
        type: object
      - properties:
          info:
            properties:
              elapsed:
                items:
                  format: uint64
                  minimum: 0
                  type: integer
                maxItems: 2
                minItems: 2
                type: array
            required:
            - elapsed
            type: object
          name:
            enum:
            - NO_NEW_BLOCKS
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              epoch_id:
                $ref: '#/components/schemas/EpochId'
            required:
            - epoch_id
            type: object
          name:
            enum:
            - EPOCH_OUT_OF_BOUNDS
            type: string
        required:
        - name
        - info
        type: object
      - properties:
          info:
            properties:
              error_message:
                type: string
            required:
            - error_message
            type: object
          name:
            enum:
            - INTERNAL_ERROR
            type: string
        required:
        - name
        - info
        type: object
    JsonRpcResponse_for_Nullable_RpcHealthResponse_and_RpcStatusError:
      oneOf:
      - properties:
          result:
            anyOf:
            - $ref: '#/components/schemas/RpcHealthResponse'
            - enum:
              - null
              nullable: true
        required:
        - result
        type: object
      - properties:
          error:
            $ref: '#/components/schemas/ErrorWrapper_for_RpcStatusError'
        required:
        - error
        type: object
      properties:
        id:
          type: string
        jsonrpc:
          type: string
      required:
      - jsonrpc
      - id
      title: JsonRpcResponse_for_Nullable_RpcHealthResponse_and_RpcStatusError
      type: object
