openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Txns API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Txns
paths:
  /v1/txns:
    get:
      summary: Get txns by pagination
      tags:
      - Legacy / Txns
      parameters:
      - in: query
        name: block
        description: Block hash
        schema:
          type: string
      - in: query
        name: from
        description: Sender account id
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account id
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1Txns
      x-operation-id-source: derived
  /v1/txns/count:
    get:
      summary: Get estimated total txns count
      tags:
      - Legacy / Txns
      parameters:
      - in: query
        name: block
        description: Block hash
        schema:
          type: string
      - in: query
        name: from
        description: Sender account id
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account id
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1TxnsCount
      x-operation-id-source: derived
  /v1/txns/latest:
    get:
      summary: Get the latest txns
      tags:
      - Legacy / Txns
      parameters:
      - in: query
        name: limit
        description: Number of latest transactions
        schema:
          type: number
          minimum: 1
          maximum: 10
          default: 10
      responses:
        '200':
          description: Success response
      operationId: getV1TxnsLatest
      x-operation-id-source: derived
  /v1/txns/{hash}:
    get:
      summary: Get txn info
      tags:
      - Legacy / Txns
      parameters:
      - in: path
        name: hash
        required: true
        description: Transaction hash
        schema:
          type: string
        examples:
          hash:
            value: example-txn-hash
      responses:
        '200':
          description: Success response
      operationId: getV1TxnsByHash
      x-operation-id-source: derived
  /v1/txns/{hash}/full:
    get:
      summary: Get txn info with receipts and execution outcomes
      tags:
      - Legacy / Txns
      parameters:
      - in: path
        name: hash
        required: true
        description: Transaction hash
        schema:
          type: string
        examples:
          hash:
            value: example-txn-hash
      responses:
        '200':
          description: Success response
      operationId: getV1TxnsByHashFull
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
