openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Account API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Account
paths:
  /v1/account/{account}:
    get:
      summary: Get account info
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccount
      x-operation-id-source: derived
  /v1/account/{account}/contract:
    get:
      summary: Get contract info
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountContract
      x-operation-id-source: derived
  /v1/account/{account}/contract/deployments:
    get:
      summary: Get contract deployment records (first & last)
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountContractDeployments
      x-operation-id-source: derived
  /v1/account/{account}/contract/parse:
    get:
      summary: Get parsed contract info
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountContractParse
      x-operation-id-source: derived
  /v1/account/{account}/contract/{method}:
    get:
      summary: Get latest action args for contract method
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: path
        name: method
        required: true
        description: Method name
        schema:
          type: string
        examples:
          method:
            value: example-method
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountContractByMethod
      x-operation-id-source: derived
  /v1/account/{account}/inventory:
    get:
      summary: Get account ft/nft token inventory
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountInventory
      x-operation-id-source: derived
  /v1/account/{account}/tokens:
    get:
      summary: Get possible ft/nft token contracts
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountTokens
      x-operation-id-source: derived
  /v1/account/{account}/keys:
    get:
      summary: Get access keys by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: page
        description: Page number
        schema:
          type: number
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: number
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountKeys
      x-operation-id-source: derived
  /v1/account/{account}/keys/count:
    get:
      summary: Get estimated access keys count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountKeysCount
      x-operation-id-source: derived
  /v1/account/{account}/txns:
    get:
      summary: Get account txns by pagination (NOT RECOMMENDED)
      description: '**NOT RECOMMENDED**: This endpoint is no longer recommended for large accounts due to performance issue.

        For large accounts, it is better to query txns and receipts separately:

        - account/{account_id}/txns-only

        - account/{account_id}/receipts'
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_block
        description: Block height
        schema:
          type: string
      - in: query
        name: before_block
        description: Block height
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: integer
          minimum: 1
          maximum: 200
          default: 1
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountTxns
      x-operation-id-source: derived
  /v1/account/{account}/txns/count:
    get:
      summary: Get estimated account txns count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_block
        description: Block height
        schema:
          type: string
      - in: query
        name: before_block
        description: Block height
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountTxnsCount
      x-operation-id-source: derived
  /v1/account/{account}/txns-only:
    get:
      summary: Get account txns without receipts by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - desc
          - asc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountTxnsOnly
      x-operation-id-source: derived
  /v1/account/{account}/txns-only/count:
    get:
      summary: Get estimated account txns without receipts count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountTxnsOnlyCount
      x-operation-id-source: derived
  /v1/account/{account}/receipts:
    get:
      summary: Get account receipts by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 250
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountReceipts
      x-operation-id-source: derived
  /v1/account/{account}/receipts/count:
    get:
      summary: Get estimated account receipts count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: action
        description: Action kind
        schema:
          type: string
      - in: query
        name: method
        description: Function call method
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountReceiptsCount
      x-operation-id-source: derived
  /v1/account/{account}/ft-txns:
    get:
      summary: Get account token txns by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: involved
        description: Involved account ID
        schema:
          type: string
      - in: query
        name: contract
        description: Contract account ID
        schema:
          type: string
      - in: query
        name: event
        description: Event kind
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
          minLength: 36
          maxLength: 36
      - in: query
        name: page
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
          maximum: 200
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 250
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountFtTxns
      x-operation-id-source: derived
  /v1/account/{account}/ft-txns/count:
    get:
      summary: Get estimated account token txns count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: involved
        description: Involved account ID
        schema:
          type: string
      - in: query
        name: contract
        description: Contract account ID
        schema:
          type: string
      - in: query
        name: event
        description: Event kind
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountFtTxnsCount
      x-operation-id-source: derived
  /v1/account/{account}/nft-txns:
    get:
      summary: Get account nft txns by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: involved
        description: Involved account ID
        schema:
          type: string
      - in: query
        name: event
        description: Event kind
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
          minLength: 36
          maxLength: 36
      - in: query
        name: page
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
          maximum: 200
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 250
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountNftTxns
      x-operation-id-source: derived
  /v1/account/{account}/nft-txns/count:
    get:
      summary: Get estimated account nft txns count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: involved
        description: Involved account ID
        schema:
          type: string
      - in: query
        name: event
        description: Event kind
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountNftTxnsCount
      x-operation-id-source: derived
  /v1/account/{account}/stake-txns:
    get:
      summary: Get account stake txns by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
      - in: query
        name: page
        description: Page number
        schema:
          type: integer
          default: 1
          minimum: 1
          maximum: 200
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          default: 25
          minimum: 1
          maximum: 250
      - in: query
        name: order
        description: Sort order
        schema:
          type: string
          enum:
          - asc
          - desc
          default: desc
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountStakeTxns
      x-operation-id-source: derived
  /v1/account/{account}/stake-txns/count:
    get:
      summary: Get estimated account stake txns count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: from
        description: Sender account ID
        schema:
          type: string
      - in: query
        name: to
        description: Receiver account ID
        schema:
          type: string
      - in: query
        name: after_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      - in: query
        name: before_date
        description: Date in YYYY-MM-DD format
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountStakeTxnsCount
      x-operation-id-source: derived
  /v1/account/{account}/activities:
    get:
      summary: Get account balance change activities by pagination
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      - in: query
        name: cursor
        description: Next page cursor, takes precedence over 'page' if provided
        schema:
          type: string
          minLength: 36
          maxLength: 36
      - in: query
        name: per_page
        description: Number of items per page. Each increment of 25 will count towards rate limit. For example, per page 50 will use 2 credits.
        schema:
          type: integer
          minimum: 1
          maximum: 250
          default: 25
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountActivities
      x-operation-id-source: derived
  /v1/account/{account}/activities/count:
    get:
      summary: Get estimated account balance change activities count
      tags:
      - Legacy / Account
      parameters:
      - in: path
        name: account
        required: true
        description: Account ID
        schema:
          type: string
        examples:
          account:
            value: example-account-id
      responses:
        '200':
          description: Success response
      operationId: getV1AccountByAccountActivitiesCount
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
