openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / V2 Txns API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / V2 Txns
paths:
  /v2/txns/{hash}:
    get:
      summary: Get txn info with receipts and execution outcomes
      tags:
      - Legacy / V2 Txns
      parameters:
      - in: path
        name: hash
        required: true
        description: Transaction hash
        schema:
          type: string
        examples:
          hash:
            value: example-txn-hash
      responses:
        '200':
          description: Success response
      operationId: getV2TxnsByHash
      x-operation-id-source: derived
  /v2/txns/{hash}/receipts:
    get:
      summary: Get txn receipts
      tags:
      - Legacy / V2 Txns
      parameters:
      - in: path
        name: hash
        required: true
        description: Transaction hash
        schema:
          type: string
        examples:
          hash:
            value: example-txn-hash
      responses:
        '200':
          description: Success response
      operationId: getV2TxnsByHashReceipts
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
