openapi: 3.2.0
info:
  description: NearBlocks REST API for the NEAR Protocol block explorer. Provides endpoints to access blockchain data including accounts, transactions, blocks, tokens, NFTs, and staking.
  title: NearBlocks Explorer Legacy / Search API
  version: 1.0.0
servers:
- description: Mainnet
  url: https://api.nearblocks.io
- description: Testnet
  url: https://api-testnet.nearblocks.io
tags:
- description: Deprecated.
  name: Legacy / Search
paths:
  /v1/search:
    get:
      summary: Search txn by hash, block by height/hash, account by id, receipt by id, tokens…
      tags:
      - Legacy / Search
      parameters:
      - in: query
        name: keyword
        required: true
        description: Transaction hash / block height / account ID / receipt ID / hex address
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1Search
      x-operation-id-source: derived
  /v1/search/txns:
    get:
      summary: Search txns by hash
      tags:
      - Legacy / Search
      parameters:
      - in: query
        name: keyword
        required: true
        description: Transaction hash
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1SearchTxns
      x-operation-id-source: derived
  /v1/search/blocks:
    get:
      summary: Search blocks by hash/height
      tags:
      - Legacy / Search
      parameters:
      - in: query
        name: keyword
        required: true
        description: Block height or hash
        schema:
          type: array
          items:
            type: string
          example:
          - block-height
          - block-hash
      responses:
        '200':
          description: Success response
      operationId: getV1SearchBlocks
      x-operation-id-source: derived
  /v1/search/accounts:
    get:
      summary: Search accounts by id
      tags:
      - Legacy / Search
      parameters:
      - in: query
        name: keyword
        required: true
        description: Account ID
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1SearchAccounts
      x-operation-id-source: derived
  /v1/search/receipts:
    get:
      summary: Search receipts by id
      tags:
      - Legacy / Search
      parameters:
      - in: query
        name: keyword
        required: true
        description: Receipt ID
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1SearchReceipts
      x-operation-id-source: derived
  /v1/search/tokens:
    get:
      summary: Search tokens by hex address
      tags:
      - Legacy / Search
      parameters:
      - in: query
        name: keyword
        required: true
        description: Token hex address
        schema:
          type: string
      responses:
        '200':
          description: Success response
      operationId: getV1SearchTokens
      x-operation-id-source: derived
components:
  securitySchemes:
    BearerAuth:
      scheme: bearer
      type: http
